{% extends 'base.html' %}
{% block title %}Lista de Veiculos{% endblock %}


{% block content %}
<a href="{% url 'home' %}">Home</a>

<h1 align="center" style="margin-top: 20px;">Registro de Saida</h1>
<br><br>

<form class="form-inline">  
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Placa">
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Observaçoes">
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Hodometro">
  <button type="submit" class="btn btn-primary mb-2">Enviar</button>
</form>
{% endblock%}